#posts {
    margin-bottom: 0%;
}


.category_btn {
    background: var(--color-bg-variant);
    color: rgb(0, 65, 90) !important;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}


.post_thumbnail {
    border-radius: 5rem 0;
    border: 1rem solid var(--color-primary-variant);
    overflow: hidden;
    margin-bottom: 1.6rem;
    margin-left: 40%;
    width: 50%;
    height: 50%;
    margin-top: 0%;
    margin-bottom: 0%;

}

.post:hover .post_thumbnail img {
    filter: saturate(0);
    transition: filter 500ms ease;
}

.post_author {
    display: flex;
}

.featured_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.featured .post_thumbnail {
    height: fit-content;
}