#contact h3,
#contact h1 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


@media screen and (max-width: 768px) {
    .grid {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      margin-top: 2%;
      margin-bottom: 2%;
    }
  }
  