*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav {
    background: rgba(13, 82, 112, 0.589);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    top: 2rem;
    /* Adjust the top position */
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: azure !important ;
}

nav a:hover{
    background: rgb(156, 215, 238);
}

nav a.active{
    background: rgb(108, 169, 219);
    color: black;
}

/* CSS for small screens */
@media screen and (max-width: 768px) {
    .navbar {
        padding-top: 10%;
        width: 30%; /* One-third of the viewport width */
        /* Adjust other styles as needed */
    }

    nav {
        padding: 0.2rem 0.4rem; /* Adjust padding */
        top: 1rem; /* Adjust top position */
    }

    nav a {
        padding: 0.1rem; /* Adjust padding */
        font-size: 0.6rem;
    }
}
