.container-achievement{
    width: 40%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}



.achievement-img{
    width: 4rem;
    aspect-ratio: 3/3;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid rgb(142, 203, 228);
}

.Achievement{
    background: rgb(6, 65, 88);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
 
}

.achievement-note{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;

}

@media screen and (max-width: 120px) {
    .container {
        width: 60%;
    }}

    @media screen and (max-width: 600px) {
        .container {
            width: var(--container-width-sm);
        }}

       

    .achievement-note{
        width: var(--container-width-sm);

    }
    
